body {
  background-color: cadetblue;
  color: #fff;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
h1 {
  text-align: center;
  text-shadow: 0px 0px 10px #fff;
  margin: 60px;
}
